@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #E8E8E8;
}
footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.footer-main{
    background-color: #273447;
    color: white;
    text-align: center;
}
.footer-header{
    display: flex;
    justify-content: center;
}
.footer-header h1{
    color: white;
    margin-top: 25px;
}
.span-h1{
    color: #EAEAEB;
    font-weight: 300;
}
.footer-middle{
    padding: 20px;
}

.middle-first a,.middle-second a{
    color: #D2D4D6;
    text-decoration: none;
    padding: 3px;
    font-size: 15px;
    font-weight: 400;
    font-size: smaller;
}
p{
    display: inline;
    color:#363A43;
}
.middle-first p,.middle-second p{
    color: #D2D4D6;
}
img{
    width: 40px;
    height: 40px;
}
.images{
    display: flex;
    
}
.images>div{
    background-color: white;
    width: 85px;
    border-radius: 5px;
    margin-left: 25px;
    height: 85px;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.images>div>div{
    flex-grow: 1;
    align-items: center;
    display: grid;
    place-content: center;
}
.p-two{
    float: right;
}

.images h6{
    padding:4px;
    color: black;
}
.line{
    width: 100%;
    height:1px;
    background-color:#4B5B72;
}
.footer-bottom{
    font-size: 0.3cm;
    font-weight: 400;
    color: #5D6066;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 25px;
    margin-right: 15px;
}
.span-p2{
    font-weight: bold;
    font-size: small;
}